{% extends "base.html" %}
{% load static %}

{% block blck1 %}
    <h1> blck 1 code for this Menu page will go here</h1>
    <p1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores expedita laborum magni mollitia odit provident quaerat sunt voluptates? Dolorem expedita obcaecati porro. Accusamus aliquam asperiores autem blanditiis, dolor dolore dolores ea et eveniet fuga fugit harum id iure iusto laboriosam laudantium libero magnam magni minima molestiae nemo nesciunt non nostrum omnis pariatur quis rem repellat, sapiente, sunt suscipit unde ut veniam voluptatem! Doloribus incidunt iste magnam minima quas. Asperiores autem dignissimos in iusto magnam maxime necessitatibus nihil nostrum, possimus reprehenderit! Dicta doloribus ducimus ipsa magnam maiores possimus sunt voluptate!</p1>
{% endblock %}